{% extends 'base.html.twig' %}

{% block title %}{% trans %}criteria.list.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h2>{% trans %}criteria.list.name{% endtrans %}</h2>
        </div>
        <div class="col text-md-right">
            <a href="{{ path('create_or_update_criteria') }}" role="button"
               class="btn btn-success button_edit_add">{% trans %}criteria.list.action.add{% endtrans %}</a>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">{% trans %}criteria.list.label{% endtrans %}</th>
                    <th scope="col">{% trans %}criteria.list.description{% endtrans %}</th>
                    <th scope="col">{% trans %}criteria.list.unit{% endtrans %}</th>
                    <th scope="col">{% trans %}criteria.list.component{% endtrans %}</th>
                    <th scope="col">{% trans %}criteria.list.actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for criteria in criterias %}
                    <tr>
                        <th scope="row">{{ criteria.label }}</th>
                        <td>{{ criteria.description }}</td>
                        <td>{{ criteria.unit }}</td>
                        <td>{% for criteriaType in criteria.criteriaTypes %}
                            {{ ('component.list.' ~  criteriaType.type.label)|trans }}
                        {% endfor %}</td>
                        <td>
                            <a href="{{ path('criteria_delete', {'id': criteria.id}) }}"
                               class="badge button_remove">{% trans %}criteria.list.action.remove{% endtrans %}</a>
                            <a href="{{ path('create_or_update_criteria', {'criteriaId': criteria.id}) }}"
                               class="badge button_edit_add">{% trans %}criteria.list.action.edit{% endtrans %}</a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
