{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>{{ (form.vars.value.id ? 'component.edit.title':'component.add.title')|trans }} {{ ('component.list.' ~ form.vars.value.type.label)|trans }} </h1>
    </div>
    <div class="row">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">{% trans %}component.add.next{% endtrans %}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
