{% extends 'base.html.twig' %}

{% block title %}{% trans %}component.list.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>{{ 'component.list.title'|trans({'%type%': ('component.list.' ~ typeLabel)|trans}) }}</h1>
        </div>
        <div class="col text-md-right">
<<<<<<< HEAD
            <a href="{{ path('create_or_update_component') }}" role="button"
=======
            <a href="{{ path('create_or_update_component', {'typeLabel': typeLabel}) }}" role="button"
>>>>>>> master
               class="btn btn-success">{% trans %}component.list.action.add{% endtrans %}</a>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">{% trans %}component.list.label{% endtrans %}</th>
                    <th scope="col">{% trans %}component.list.description{% endtrans %}</th>
                    <th scope="col">{% trans %}component.list.link{% endtrans %}</th>
                    <th scope="col">{% trans %}component.list.type{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for component in components %}
                    <tr>
                        <th scope="row">{{ component.label }}</th>
                        <td>{{ component.description }}</td>
                        <td>{{ component.link }}</td>
                        <td>{{ component.type }}</td>
                        <td>
                            <a href="{{ path('component_delete', {'componentId': component.id, 'typeLabel': typeLabel}) }}"
                               class="badge badge-danger">{% trans %}component.list.action.remove{% endtrans %}</a>
<<<<<<< HEAD
                            <a href="{{ path('create_or_update_component', { 'id': component.id}) | replace({'?id=': '/'}) }}"
=======
                            <a href="{{ path('create_or_update_component', {'componentId': component.id, 'typeLabel': typeLabel}) }}"
>>>>>>> master
                               class="badge badge-secondary">{% trans %}component.list.action.edit{% endtrans %}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
